*{
    margin: 0;
    padding: 0;
}
.container{
    padding: 5px;
    /* max-width: 1500px; */
    margin: 0 auto;
    background: #f2f2f2;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat( auto-fit, minmax(250px ,4fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    background-color: black;
}
/* <************************verticallystrech****************************> */
.vstrech{
    
    grid-column: span 2;
}
/* <*********************************horizontalystrch************************* */
.hstrech{
    grid-row: span 2;
}
/* <**********************bigstrech***************** */
.bigstrech{
    grid-column: span 2;
    grid-row: span 2;
    
}
.container img{
    width: 100%;
    height: 100%;

    object-fit: cover;

}

/* <****************************Rensponsiv***************************************>
 